<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <listener>
    <listener-class>pushdata.MyServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>ReceiveMsg</servlet-name>
    <servlet-class>pushdata.ReceiveMsg</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReceiveMsg</servlet-name>
    <url-pattern>/rec</url-pattern>
  </servlet-mapping>

</web-app>
